.titolo{
    margin-left: 30%;
    margin-top: 10%;
}

section {
    margin-left: 20%;
}

form {
    text-align: center;
    margin-left: 3%;
}

.calcolatrice{
    margin-top: 5%;
    margin-left: 25%;
}